torch
transformers
vosk
pydub
numpy
argparse
wave
groq
python-dotenv
librosa
noisereduce
torchaudio
ffmpeg-python
pydub
langdetect
pyannote.audio
spacy
pyAudioAnalysis
langdetect
hmmlearn
eyed3
imblearn